# Ignore everything by default
*

# Allow index.html in root
!/index.html

# Allow only weather.js inside mini_project
!/mini_project/
!/mini_project/weather.js

# Ignore node_modules (installed packages)
node_modules/

# Always ignore secrets
.env

# Allow .gitignore itself
!/.gitignore
