# Ignore everything
*

# Allow index.html in root
!/index.html

# Allow only this weather.js inside mini_project
!/mini_project/
!/mini_project/weather.js

node_modules/


# Allow .gitignore itself
!/.gitignore

# Always ignore secrets
.env
