# Node modules
node_modules/

# Frontend build files
frontend/dist/
frontend/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store

# VS Code
.vscode/

# Misc
coverage/